@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --destaque-azul: #2f8aa5;
  --destaque-amarelo: #f3dd16;
  --cor-titulo: #ffffff;
  --cor-texto: #ebebebed;
  --cor-azul-escuro: #1b4f5f;
  --font-fredoka: "Fredoka", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--destaque-azul);
}

/* Cabecalho */

.container-inicio {
  width: 100%;
  min-height: 1400px;
  background-image: url("../assets/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cabecalho {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 130px;
}

.logo-container {
  width: 121px;
}

.logo {
  width: 100%;
}

.botoes-container {
  display: flex;
  gap: 20px;
}

.botao-login {
  font-weight: 700;
  background-color: var(--destaque-amarelo);
  color: var(--cor-azul-escuro);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-login:hover {
  background-color: #e4cf0d;
  scale: 1.15;
}

.botao-cadastro {
  font-weight: 700;
  background-color: transparent;
  color: var(--cor-titulo);
  border: 1px solid #fff; /* Adiciona uma borda branca fina */
  border-radius: 10px;
  padding: 10px 20px; /* Ajusta o padding conforme desejado */
  cursor: pointer;
  transition: all 0.3s ease; /* Adiciona efeito hover */
}

.botao-cadastro:hover {
  background-color: var(--cor-titulo);
  color: var(--destaque-azul);
  scale: 1.15;
}

/* Conteudo Principal */
/* Definindo as propriedades do contêiner */

.content {
  width: 100%;
  padding: 200px 130px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Ajustando o estilo do h1 */
.content h1 {
  font-family: var(--font-fredoka);
  font-size: 3.75rem;
  color: var(--cor-titulo);
}

/* Ajustando o estilo do p */
.content p {
  font-family: var(--font-inter);
  font-size: 1.5rem;
  color: var(--cor-texto);
  padding: 16px 0 32px 0;
}

.container-cartoes {
  width: 100%;
  min-height: 550px;
  padding: 130px 15px 80px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cartao-item {
  width: 100%;
  max-width: 380px;
  min-height: 310px;
  padding: 30px 25px;
  background-color: var(--cor-azul-escuro);
  color: white;
  text-align: center;
  border-radius: 25px;
  transition: all .3s ease;
}

.cartao-item img {
  width: 80px;
  border-radius: 100%;
}

.cartao-titulo {
  font-family: var(--font-fredoka);
  font-size: 1.75rem;
  padding: 16px 0;
}

.cartao-descricao {
  font-family: var(--font-inter);
  font-size: 1rem;
  line-height: 150%;
  color: var(--cor-texto);
}

.cartao-item:hover {
  background-color: #22697e;
  margin-bottom: 25px;
}

.cartao-item:hover .cartao-titulo {
  color: var(--destaque-amarelo);
}

.cartao-item:hover .cartao-descricao {
  color: var(--cor-titulo);
}

.container-apresentacao {
  width: 100%;
  min-height: 1265px;
  background-image: url("../assets/bg-02.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video-apresentacao {
  width: 100%;
  height: 562px;
  padding: 50px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-apresentacao img {
  width: 100%;
  max-width: 830px;
}

.sobre {
  width: 100%;
  min-height: 715px;
  padding: 100px 130px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sobre-conteudo {
  width: 50%;
}

.sobre-conteudo h2 {
  font-family: var(--font-fredoka);
  font-size: 2.75rem;
  color: var(--cor-titulo);
  padding-bottom: 20px;
}

.sobre-conteudo p {
  max-width: 590px;
  font-family: var(--font-inter);
  font-size: 1.125rem;
  color: var(--cor-texto);
  padding-bottom: 16px;
}

.container-chamada {
  width: 100%;
  min-height: 790px;
  background-image: url("../assets/bg-03.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 130px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.container-texto {
  width: 100%;
  padding-bottom: 28px;
  padding-right: 35px;
}

.container-texto h3 {
  width: 50%;
  font-family: var(--font-fredoka);
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 15px;
}

.container-texto p {
  width: 50%;
  height: 81px;
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(235, 235, 235, 1);
}

.container-botao-login {
  width: 195px;
  height: 56px;
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 20px;
  align-content: center;
  font-weight: 600;
  background-color: var(--destaque-amarelo);
  color: var(--cor-azul-escuro);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-botao-login:hover {
  background-color: #e4cf0d;
  scale: 1.15;
}

.rodape {
  width: 100%;
  height: 254px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 54px 130px;
  opacity: 0.9;
  background-color: var(--cor-azul-escuro);
}

.rodape-logo-container {
  width: 121px;
  height: 32px;
  gap: 32px;
}

.rodape-logo {
  width: 100%;
}

.rodape-texto {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  color: rgba(255, 255, 255, 1);
  opacity: 30%;
}
